@import "tailwindcss";

@theme {
  --color-primary: #f43f8e;
  --color-primary-hover: #e11d48;
  --color-dark: #07070a;
  --color-dark-card: #12121a;
}

body {
  background-color: var(--color-dark);
  color: white;
  font-family: 'Inter', sans-serif;
  overscroll-behavior-y: none; /* Previne o efeito de "bounce" no scroll do iOS/Android */
  touch-action: pan-y; /* Permite apenas scroll vertical, bloqueando gestos horizontais ou de zoom */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
